<mat-nav-list>
  <div class="logo py-4">
    <h2>Bikini Bottom Library</h2>
  </div>
  <mat-divider></mat-divider>
  <a
    mat-list-item
    routerLink="/home"
    routerLinkActive="list-item-active"
    style="margin: 0"
  >
    <mat-icon>home</mat-icon>
    Home
  </a>
  <a mat-list-item routerLink="/members" routerLinkActive="list-item-active">
    <mat-icon>account_box</mat-icon>
    Members
  </a>
  <a mat-list-item routerLink="/books" routerLinkActive="list-item-active">
    <mat-icon>book</mat-icon>Books
  </a>
  <a mat-list-item><mat-icon>help_outline</mat-icon>Manual</a>
</mat-nav-list>
