<h1 mat-dialog-title>Add New Item</h1>

<form [formGroup]="itemForm">
  <div mat-dialog-content>
    <mat-form-field appearance="outline" class="hidden-stuff">
      <mat-label>ID</mat-label>
      <input formControlName="id" matInput placeholder="Placeholder" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Author</mat-label>
      <input formControlName="author" matInput placeholder="Placeholder" />
      <mat-error *ngIf="itemForm.get('author')?.hasError('required')">
        Author is required.
      </mat-error>
      <mat-error *ngIf="itemForm.get('author')?.hasError('minlength')">
        Author must be longer than 2 letters.
      </mat-error>
      <mat-error *ngIf="itemForm.get('author')?.hasError('pattern')">
        Author can only contain letters.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput placeholder="Placeholder" />
      <mat-error *ngIf="itemForm.get('title')?.hasError('required')">
        Title is required.
      </mat-error>
      <mat-error *ngIf="itemForm.get('title')?.hasError('minlength')">
        Title must be longer than 2 letters.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Media Type</mat-label>
      <mat-select placeholder="Media Type" formControlName="mediaType">
        <mat-option *ngFor="let type of mediaTypes" [value]="type">
          {{ type }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="itemForm.get('mediaType')?.hasError('required')">
        Media type is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date of Acquisition</mat-label>
      <input
        formControlName="dateOfAcquisition"
        matInput
        [matDatepicker]="picker"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error
        *ngIf="itemForm.get('dateOfAcquisition')?.hasError('required')"
      >
        Date is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      [ngClass]="
        itemForm.get('status')?.value === 'Rented' ? 'hidden-stuff' : ''
      "
    >
      <mat-label>Status</mat-label>
      <mat-select placeholder="Status" formControlName="status">
        <mat-option value="Available"> Available </mat-option>
      </mat-select>
      <mat-error *ngIf="itemForm.get('status')?.hasError('required')">
        Status is required.
      </mat-error>
    </mat-form-field>
  </div>
</form>

<div mat-dialog-actions [align]="'center'">
  <button mat-raised-button color="primary" (click)="addItem()">
    {{ actionButton }}
  </button>
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
</div>
