<h1 mat-dialog-title>Add New Member</h1>

<form [formGroup]="memberForm">
  <div mat-dialog-content>
    <mat-form-field appearance="outline" class="hidden-stuff">
      <mat-label>ID</mat-label>
      <input formControlName="id" matInput placeholder="Placeholder" />
      <mat-hint>Hint</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input formControlName="firstName" matInput placeholder="Placeholder" />
      <mat-error *ngIf="memberForm.get('firstName')?.hasError('required')">
        First Name is required.
      </mat-error>
      <mat-error *ngIf="memberForm.get('firstName')?.hasError('minlength')">
        First Name has to be longer than 2 letters.
      </mat-error>
      <mat-error *ngIf="memberForm.get('firstName')?.hasError('pattern')">
        First Name can only contain letters.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input formControlName="lastName" matInput placeholder="Placeholder" />
      <mat-error *ngIf="memberForm.get('lastName')?.hasError('required')">
        Last Name is required.
      </mat-error>
      <mat-error *ngIf="memberForm.get('lastName')?.hasError('minlength')">
        Last Name has to be longer than 2 letters.
      </mat-error>
      <mat-error *ngIf="memberForm.get('lastName')?.hasError('pattern')">
        Last Name can only contain letters.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Phone Number</mat-label>
      <input formControlName="phoneNumber" matInput placeholder="Placeholder" />
      <mat-error *ngIf="memberForm.get('phoneNumber')?.hasError('required')">
        Phone number is required.
      </mat-error>
      <mat-error *ngIf="memberForm.get('phoneNumber')?.hasError('pattern')">
        Phone number can only contain numbers.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Location</mat-label>
      <input formControlName="location" matInput placeholder="Placeholder" />
      <mat-error *ngIf="memberForm.get('location')?.hasError('required')">
        Location is required.
      </mat-error>
      <mat-error *ngIf="memberForm.get('location')?.hasError('minlength')">
        Location has to be longer than 2 letters.
      </mat-error>
      <mat-error *ngIf="memberForm.get('location')?.hasError('pattern')">
        Location can only contain letters.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>ID Card Number</mat-label>
      <input
        formControlName="idCardNumber"
        matInput
        placeholder="Placeholder"
      />
      <mat-error *ngIf="memberForm.get('idCardNumber')?.hasError('required')">
        ID Card number is required.
      </mat-error>
      <mat-error *ngIf="memberForm.get('idCardNumber')?.hasError('pattern')">
        ID Card number can only contain numbers.
      </mat-error>
    </mat-form-field>
  </div>
</form>

<div mat-dialog-actions [align]="'center'">
  <button mat-raised-button color="primary" (click)="addMember()">
    {{ actionButton }}
  </button>
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
</div>
