<!-- div köré?-->
<div class="container">
  <h1 style="margin-top: 10px">Members</h1>
  <button mat-raised-button color="primary" (click)="openDialog()">
    Add New Member
  </button>
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input
      matInput
      (keyup)="applyFilter($event)"
      placeholder="Ex. Mia"
      #input
    />
  </mat-form-field>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
        <td mat-cell *matCellDef="let row">{{ row.id }}</td>
      </ng-container>

      <!-- Progress Column -->
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>First Name</th>
        <td mat-cell *matCellDef="let row">{{ row.firstName }}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Last Name</th>
        <td mat-cell *matCellDef="let row">{{ row.lastName }}</td>
      </ng-container>

      <!-- Fruit Column -->
      <ng-container matColumnDef="phoneNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</th>
        <td mat-cell *matCellDef="let row">{{ row.phoneNumber }}</td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
        <td mat-cell *matCellDef="let row">{{ row.location }}</td>
      </ng-container>

      <ng-container matColumnDef="idCardNumber">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID Card</th>
        <td mat-cell *matCellDef="let row">{{ row.idCardNumber }}</td>
      </ng-container>

      <!--TODO: EZ lehet szar https://stackoverflow.com/questions/64857392/displaying-nested-array-with-mat-table-->
      <ng-container matColumnDef="rentedItems">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rented Items</th>
        <td mat-cell *matCellDef="let row">
          <p *ngFor="let data of row?.rentedItems" style="margin: 0">
            {{ data.author }}: {{ data.title }}
          </p>
        </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button (click)="editMember(row)" color="primary">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">
          No data matching the filter "{{ input.value }}"
        </td>
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page of members"
    ></mat-paginator>
  </div>
</div>
